body{
    background-color:rgba(128, 128, 128, 0.555);
    padding: 10px;
    margin: 10px solid black;
    border-radius: 6px;
    border: 10px;
    font-size: large;
}
h1{
    background-color:black; color: rgb(255, 255, 255);
}
#Act{
    background-color: black;

}


h2{
    background-color:black;
    color: white;
}
a{
    text-decoration: none;
     color: #000; 
}
#Nav{
    display:flex ;
    flex-direction:row;
    justify-content:space-evenly;
    background-color: white;
    color: antiquewhite;
    font-size: 26px;
    text-decoration: none;height: 40px;}
    a{ display: flex;flex-direction: row;justify-content: space-around; text-decoration: none;}
    a{ display: flex;flex-direction: row;justify-content: space-around; text-decoration: none;}
h3{
    text-decoration: underline;
    
}

.scale{
display: flex;
flex-direction: row;



}

#Alt{
    background-color: rgb(202, 202, 230);
        display: grid;
        grid-template-columns:50% 50%;
        grid-template-rows: 30% 30% 30% 30%;
        padding: 0%;
    }
    #one{
        grid-row-start:1 ;
        grid-column-start: 1;
    }
    #two{
        grid-row-start: 1;
        grid-column-start: 2;
    }
    #three{
        grid-row-start: 2;
        grid-column-start:1 ;
    }
    #four{
        grid-row-start: 2;
        grid-column-start: 2;
    }
    #five{
        background-color: rgb(202, 202, 230);
        text-align: center;
    }
    
    .miss{
        background-color: grey;
    }
    .vol{
        background-color: grey;
    }